<h2><strong>Infinite</strong>Loop</h2>
<h6>af morten sieker</h6>
<h5>En weblog om teknologi, softwareudvikling og hverdagens små nørderier</h5>
<a href="#" class="menutoggle"><i class="fa fa-bars"></i></a>
<nav id="sidemenu">
    <ul class="list-unstyled">
        <li><a href="/">Hjem</a></li>
        <li><a href="/arkiv">Arkiv</a></li>
        <li><a href="/soeg">Søg</a></li>
        <li><a href="/om">Om</a></li>
        <li><a href="http://infiniteloop.dk/rss.xml" target="_blank">RSS <i class="icon-rss"></i></a></li>
    </ul>
</nav>
<!--div id="sidesocials" class="row">
    <div class="col-xs-12" style="margin-bottom: 5px;">
        KONTAKT
    </div>
    <div class="col-xs-3"></div>
    <div class="col-xs-3 text-center">
        <a href="http://twitter.com/mortensieker" target="_blank"><i class="icon-twitter"></i></a>
    </div>
    <div class=" col-xs-3 text-center">
        <a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#109;&#111;&#114;&#116;&#101;&#110;&#64;&#105;&#110;&#102;&#105;&#110;&#105;&#116;&#101;&#108;&#111;&#111;&#112;&#46;&#100;&#107;'>
        <i class="icon-envelope"></i></a>
    </div>
    <div class="col-xs-3"></div>
</div-->